* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
    
}

body {
    background-image: url("../img/kyoto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


h1 {
    text-transform: uppercase;
}

div {
    background-color: rgba(63, 98, 124, 0.289);
    display: flex;
    padding:  10px 40px;
    font-family: sans-serif;
    color: beige;
    justify-content: space-between;
}

nav {
    font-size: 1.5rem;
    display: flex;
    align-items:center;
    gap: 0 20px;
}