@font-face {
  font-family: "Raleway-Var";
  src: url("../font/Raleway/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Raleway-Light";
  src: url(../font/Raleway/Raleway-Light.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  font-family: "Raleway-Light";
}

/*  $ general Stylings */
:root {
  --light-gray: #666666;
  --dark-gray: #4c4c4c;
  --primary-purple: #745cf9;
  --basic-white: #ffffff;
  --dark-blue: #0E1015;
  --p-gray: #8C979E;
  --bg-gray: #F5F5F5;
}

/*  % Gestaltung vom Header */
header {
  height: 76px;
  border-bottom: #66666657 1px solid;
  /* position: fixed; */
}

/*  % Die Navigationsleiste wird 'gespaced' */
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

/*  % Text und Logo bekomen Farbe, Font-Size und die bullets verschwinden, sowie das Einbinden der Hover Effekte */
a {
  text-decoration: none;
  color: #333;
}

.logo {
  font-size: 2rem;
  color: #666;
}

.logo:hover {
  color: #333;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 0 30px;
}

header nav ul li {
  list-style: none;
}

li a:hover {
  color: #337ab7;
}


/*  % Einbinden von Bild und Text, sowie die Gestaltung der Buttons */
.homePic {
  background-image: url("../img/div.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 76px);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  column-gap: 25px 0;
}

.homeH1 {
  font-size: 6rem;
  font-family: "Raleway-Light";
  font-weight: 300;
}

.homePSize {
  font-size: 1.4rem;
}

.homeColumn {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 24px 0;
}

.textDesign {
  text-transform: uppercase;
  width: 200px;
  height: 54px;
  color: #ffffff;
  /* background-color: pink; */
}

.btnHome {
    display: flex;
    justify-content: center;
    gap: 0 8px;

}

#firstBtnPurple {
  background-color: #745CF9;
  border: none;
  color: var(--basic-white);
}

#firstBtnPurple:hover {
    background-color:#604dd0;
    transition-delay: 100ms;
}

#secBtnClear {
    border: 2px solid #FFFFFF;
    background: none;
}

#secBtnClear:hover {
    color: black;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    transition-delay: 100ms;
}

/* # SEO Sliede */


.flexboxSection {
  height: 452px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.secondFlexbox {
  display: flex;
  gap: 0 127px;
  align-items: center;
  justify-content: center;
}
.sectionHeadline{
  font-size: 3rem;
}

.sec2-SEO-flex {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.lorem {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--p-gray);
  width: 356px;
  line-height: 1.8;

}

.bg-portfolio {
  background-color: var(--bg-gray);
  height: 644px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-parallax {
  background-image: url("../img/section.jpg");
  display: flex; 
  flex-direction: column;
  align-items: center;
  color: var(--basic-white);
  height: 438px;
}

.thirdFlexboxColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 30px 0;
}

.parallaxHeadline {
  font-size: 6rem;
  font-weight: 300;
}

.lorem2 {
  font-size: 1.4rem;
  padding:0 5% ;
  text-align: center;
  line-height: 1.8;
}